<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/themes.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link
        rel="stylesheet"
        href="/css/styles-sm.css"
        media="(min-width:480px)"
    >
    <link
        rel="stylesheet"
        href="/css/styles-md.css"
        media="(min-width:768px)"
    >
    <link
        rel="stylesheet"
        href="/css/styles-lg.css"
        media="(min-width:1280px)"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Document</title>
</head>
<body class="ml-light-bg">
    <header class="ml-yellow-bg padding-16">
        <div class="flex justify-center flex align-center">
            <!-- Imagen del logo -->
            <img src="/images/logo-mercado-liebre.svg" alt="logo" class="w-50 w-33-sm">
            <!-- Barra de busqueda -->
            <div class="padding-8 w-50 w-33-sm">
                <div class="flex no-wrap searchbar w-100">
                    <input class="w-100" placeholder="Buscar productos, marcas">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- Texto del header -->
            <p class="text-center w-100 w-33-sm">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </p>
        </div>
        <!-- Links del navbar -->
        <nav class="hide show-sm justify-space-between">
            <ul class="flex">
                <li class="nav-item">
                    <a href="#">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li class="nav-item">
                    <a href="#">Vender</a>
                </li>
                <li class="nav-item">
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul class="flex">
                <li class="nav-item">
                    <a href="#"
                        >Creá tu cuenta <i class="far fa-id-card"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                        >Ingresá <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                        >Mis compras <i class="fas fa-shopping-basket"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Burguer Menu -->
        <div class="burger-menu ml-light-text">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <!-- Banner -->
    <img
        class="banner"
        src="/images/img-home-banner.jpg"
        alt="En estas fiestas no te pierdas ninguna venta"
    />
    <main class="main-content">
        <section>
            <h2 class="titulares">Basado en tu ultima visita</h2>
            <div class="flex"> 
                <!-- Contenedor de producto -->
                <article class="products">
                    <div class="product-wrapper">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                        <div class="product-info">
                            <i class="fas fa-truck ml-green-text truck-icon"></i>
                            <div class="flex align-center">
                                <p class="precios">$6.770</p>
                                <p class="descuentos ml-green-text">40% off</p>
                            </div>
                            <p class="descripcion ml-dark-text">Cafetera Moulinex</p>
                        </div>
                    </div>
                </article>
                <!-- Contenedor de producto -->
                <article class="products">
                    <div class="product-wrapper">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                        <div class="product-info">
                            <i class="fas fa-truck ml-green-text truck-icon"></i>
                            <div class="flex align-center">
                                <p class="precios">$230.000</p>
                                <p class="descuentos ml-green-text">20% off</p>
                            </div>
                            <p class="descripcion ml-dark-text">MacBook Pro 2019</p>
                        </div>
                    </div>
                </article>
                <!-- Contenedor de producto -->
                <article class="products">
                    <div class="product-wrapper">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="s10">
                        <div class="product-info">
                            <i class="fas fa-truck ml-green-text truck-icon"></i>
                            <div class="flex align-center">
                                <p class="precios">$70.500</p>
                                <p class="descuentos ml-green-text">10% off</p>
                            </div>
                            <p class="descripcion ml-dark-text">Samsung Galaxy s10</p>
                        </div>
                    </div>
                </article>
                <!-- Contenedor de producto -->
                <article class="products">
                    <div class="product-wrapper">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung">
                        <div class="product-info">
                            <i class="fas fa-truck ml-green-text truck-icon"></i>
                            <div class="flex align-center">
                                <p class="precios">$23.200</p>
                                <p class="descuentos ml-green-text">5% off</p>
                            </div>
                            <p class="descripcion ml-dark-text">SmartTv Samsung 43</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 class="titulares">Mas Buscados</h2>
            <div class="flex"> 
                <!-- Contenedor de producto -->
                <article class="products">
                    <div class="product-wrapper">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                        <div class="product-info">
                            <i class="fas fa-truck ml-green-text truck-icon"></i>
                            <div class="flex align-center">
                                <p class="precios">$6.770</p>
                                <p class="descuentos ml-green-text">40% off</p>
                            </div>
                            <p class="descripcion ml-dark-text">Cafetera Moulinex</p>
                        </div>
                    </div>
                </article>
                <!-- Contenedor de producto -->
                <article class="products">
                    <div class="product-wrapper">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                        <div class="product-info">
                            <i class="fas fa-truck ml-green-text truck-icon"></i>
                            <div class="flex align-center">
                                <p class="precios">$230.000</p>
                                <p class="descuentos ml-green-text">20% off</p>
                            </div>
                            <p class="descripcion ml-dark-text">MacBook Pro 2019</p>
                        </div>
                    </div>
                </article>
                <!-- Contenedor de producto -->
                <article class="products">
                    <div class="product-wrapper">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="s10">
                        <div class="product-info">
                            <i class="fas fa-truck ml-green-text truck-icon"></i>
                            <div class="flex align-center">
                                <p class="precios">$70.500</p>
                                <p class="descuentos ml-green-text">10% off</p>
                            </div>
                            <p class="descripcion ml-dark-text">Samsung Galaxy s10</p>
                        </div>
                    </div>
                </article>
                <!-- Contenedor de producto -->
                <article class="products">
                    <div class="product-wrapper">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung">
                        <div class="product-info">
                            <i class="fas fa-truck ml-green-text truck-icon"></i>
                            <div class="flex align-center">
                                <p class="precios">$23.200</p>
                                <p class="descuentos ml-green-text">5% off</p>
                            </div>
                            <p class="descripcion ml-dark-text">SmartTv Samsung 43</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-wrapper">
            <section class="footer-content">
                <i class="fas fa-credit-card footer-icon"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="footer-content">
                <i class="fas fa-gift footer-icon"></i>
                <h3>Envío gratis desde $ 3.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="footer-content">
                <i class="fas fa-user-shield footer-icon"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </div>
    </footer>
</body>
</html>